DJANGO_SECRET_KEY=dev-secret-a-changer
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

POSTGRES_DB=labtrack
POSTGRES_USER=labtrack
POSTGRES_PASSWORD=labtrack_dev_base
POSTGRES_HOST=dbase
POSTGRES_PORT=5448